:root {
    --apricot: #FFCDB2;
    --melon: #FFB4A2;
    --pastel: #E5989B;
    --lavender: #B5838D;
    --old: #6D5675;
}

body {
    background-color: var(--pastel);
    font-family: Calibri;
}

nav {
    background-color: var(--old);
    border-bottom: var(--lavender) 5px solid;
}

.brand-logo {
    color: var(--old);
    font-weight: bold;
    padding: 50px;
}

.container {
    margin-top: 50px;
}

.card {
    background-color: var(--old);
    height: 100%;
}
